#header{
color:maroon;
position: absolute;
padding:15px;
margin: 100px;
}
#name{
color:#eeaadd;
position: absolute;
padding:15px;
margin: 150px;
}
#Background{
position: absolute;
padding: 15px;
margin: 165px;
}
#future{
position: absolute;
padding:15px;
margin:170px;
}
#Skibidi{
position: absolute;
padding:15px;
margin: 160px;
}
#Toilet{
    position: absolute;
padding:15px;
margin: 165px;
}
